.card {
  flex-direction: row;
  width: 73rem;
  height: 28rem;
  margin-top: 26rem;
}

.card header {
  width: 28.5rem;
  height: 100%;
  border-radius: 1.5rem 0 0 1.5rem;
}

.card article {
  width: 44.5rem;
  height: auto;
  padding-top: 3.6rem;
}

.card article h1 {
  font-size: 2.1rem;
  line-height: 2.6rem;
}

.card .share-section {
  bottom: 9.5rem;
  /* opacity: 0.2; */
  width: auto;
  right: -8rem;
  border-radius: 1.5rem;
  height: 5.5rem;
  padding: 0 1.5rem;
}

.card .share-section .share-button-active {
  display: none;
}

.card .share-section > svg {
  display: block;
  position: absolute;
  left: 45%;
  bottom: -1rem;
}

.card .author {
  margin-top: 1.5rem;
}
