* {
  margin:0px;
}

/***
HEADER
***/

header{
  display:grid;
  grid-template-columns: 1fr 1fr;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  padding: 5px;
}

#img-div {
  display: grid;
  grid-template-columns: 1fr 10fr;
  align-items: center;
}

#title {
  font-size: 2em;
}

#nav-bar {
  display: grid;
  grid-template-columns: repeat( auto-fill , minmax(120px, 1fr) );
  justify-items:center;
  align-items: center;
}

.nav-link {
  color: #000;
  text-decoration: none;
  font-family: sans-serif;
}

@media (max-width: 375px){
  header {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-items:center;
  }
  #img-div{
    width: auto;
    grid-template-columns: auto auto;
  }
  #title {
    font-size: 1.5em;
  }
}

/***
MAIN
***/

/**
Sections
**/
section{
  padding-top:2vh;
  padding-bottom:2vh;
}


section i {
  display: block;
  color: #ff5000;
  font-weight: bolder;
}

p strong {
  color: darkslateblue;
}

/**
Section: text
*/

#text{
  padding-left: 5vw;
  padding-right: 5vw;
}


/**
Section: BANNER
**/

#banner-img {
  width: 100%;
}

/**
Section: INFO
**/

#info div{
  display: grid;
  justify-content: center;
}

#video {
  width: 80vw;
  height: 40vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

@media (max-width: 630px){
  #video {
    width: 90vw;
    height: 60vw;
  }
}
/**
Section: JUEGO
**/

#container{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto; 
  grid-template-areas: 
    "general general"
    "mesa jugador";
  padding-top:2vh;
  padding-bottom:2vh;
}

#step1 {
  background-color: #d1c9b1;
  margin: 0.25em;
  padding: 1em;
  grid-area:general;
  justify-self:center
}

#step2 {
  background-color: #a29e81;
  color: white;
  margin: 0.25em;
  padding: 1em;
  justify-self:right;
}

#step3 {
  background-color: #88714e;
  color: white;
  margin: 0.25em;
  padding: 1em;
  justify-self:left;
}

/**
Section: Descarga
**/

#descargaLink{
  display:grid;
  justify-content:center;
  text-align:center;
}

#descargaLink a{
  height: auto;
  max-width: 80%;
}

@media (max-width: 630px){
  #descargaLink img{
    height: auto;
    max-width: 90vw;
  }
}

/**
Section: Creditos
**/

#creditosList{
  display:grid;
  justify-items:center;
  grid-template-columns: repeat(auto-fit,120px);
  justify-content: center;
  text-align:center;
  padding-top:2vh;
  padding-bottom:2vh;
}

/**
Section: Actualizaciones
**/

form {
  width: 40vw;
  margin: auto;
  display:grid;
    padding-top: 2vh;
  padding-bottom: 2vh;
}

form input{
  text-align:center;
}

#submit {
  background-color: #a29e81;
  color: white;
}

@media (max-width: 630px){
  form{
    width: 60vw;
  }
}



/***
FOOTER
***/

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 1em;
  margin-top: 1em;
}