* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 1px dashed red; */
}

:root {
  /* primary*/
  --brightOrange: hsl(31, 77%, 52%);
  --darkCyan: hsl(184, 100%, 22%);
  --veryDarkCyan: hsl(179, 100%, 13%);
  /* Neutral */
  --transparentWhite: hsla(0, 0%, 100%, 0.75);
  --veryLightGray: hsl(0, 0%, 95%);
}

html {
  font-size: 15px;
}

body {
  background-color: var(--veryLightGray);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 99rem;
}

.Card {
  display: flex;
  font-family: 'Lexend Deca', sans-serif;
  color: var(--veryLightGray);
  flex-direction: column;
  height: 88.4rem;
  width: 21.8rem;
}
.Card h2 {
  font-family: 'Big Shoulders Display', cursive;
  text-transform: uppercase;
  font-size: 2rem;
  margin-top: 2.5rem;
}
.Card article {
  display: flex;
  padding: 0 2.94rem;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
}

.Card article img {
  display: block;
}
.Card__first-column {
  background-color: var(--brightOrange);
  border-radius: 0.5rem 0.5rem 0 0;
}
.Card__second-column {
  background-color: var(--darkCyan);
}
.Card__third-column {
  background-color: var(--veryDarkCyan);
  border-radius: 0 0 0.5rem 0.5rem;
}
.Card__first-column a {
  color: var(--brightOrange);
}
.Card__second-column a {
  color: var(--darkCyan);
}
.Card__third-column a {
  color: var(--veryDarkCyan);
}
.Card p {
  color: var(--transparentWhite);
  line-height: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
.Card a {
  display: inline-block;
  text-decoration: none;
  background-color: var(--veryLightGray);
  border-radius: 1.5rem;
  font-size: small;
  height: 3.2rem;
  width: 9.8rem;
  text-align: center;
  line-height: 3rem;
  border: 0.1rem solid var(--veryLightGray);
}
.Card a:hover {
  background-color: transparent;
  color: var(--veryLightGray);
}

@media screen and (min-width: 1200px) {
  .Card {
    margin: 10.7rem 16.3rem 10.7rem 16.3rem;
    flex-direction: row;
  }
  .Card a {
    padding: 0.9rem 1.9rem;
  }
  .Card a:hover {
    padding: 0.7rem 1.7rem;
  }
  .Card__first-column {
    border-radius: 0.5rem 0 0 0.5rem;
  }
  .Card__third-column {
    border-radius: 0 0.5rem 0.5rem 0;
  }
}
