* {
  box-sizing: border-box;
  /* outline: 1px dashed red; */
}

:root {
  --VeryDarkGray: hsl(0, 0%, 17%);
  --DarkGray: hsl(0, 0%, 59%);
  font-size: 62.5%;
  font-family: 'Rubik', sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: aqua;
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  background-image: url(./images/pattern-bg.png);
  background-size: cover;
  padding: 24px;
  position: relative;
}

h1 {
  font-size: 2.45em;
  margin: 0;
  color: white;
  margin-block-end: 34px;
  font-weight: 500;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-block: 28px;
  width: 100%;
  max-width: 1110px;
  background-color: white;
  border-radius: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 1;
}

input[type='text'] {
  font-size: 1.4rem;
  outline: none;
  background-color: transparent;
  border: 0px;
  height: 58px;
  padding: 0px;
  margin-inline: 24px;
  font-family: 'Rubik', sans-serif;
  width: 100%;
}

button {
  background-color: var(--VeryDarkGray);
  border: 0px;
  border-radius: 0 15px 15px 0;
  width: 58px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header > div {
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 555px;
  justify-content: space-between;
  margin-block-end: 24px;
}

h2 {
  color: var(--DarkGray);
  font-size: 1rem;
  margin: 0;
}

header p {
  font-size: 1.6rem;
  font-weight: 600;
  margin-block-start: 8px;
  margin-block-end: 20px;
}

#map {
  z-index: 0;
}

button:hover {
  cursor: pointer;
}

input[type='text'] {
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: left;
  position: absolute;
  bottom: 2px;
  padding-inline-start: 5px;
  display: none;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
