*{
  box-sizing: border-box;
  margin:0px;
}

/***
HEADER
***/

#header{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  width: 100%;
  padding: 5px;
  display:table;
}

#img-div{
  display: table-cell;
  width: 50%;
}

#img-div img{
  min-width: 48px;
  vertical-align:middle;
}

#title{
  font-size: 2em;
  vertical-align: middle;
}

#nav-bar{
  text-align: right;
  display: table-cell;
  vertical-align: middle;
  width: 50%;
}

.nav-link {
  color: #000;
  text-decoration: none;
  font-family: sans-serif;
  padding: 0em 1em;
}
@media(max-width:650px){
  #title {
    font-size: 1.5em;
  }
}
@media (max-width: 510px){
  #header {
    display: block;
    text-align: center;
  }
  #img-div {
    text-align: center;
    display: block;
    width:100%;
  }
  #nav-bar {
    text-align: center;
    display: block;
    width:100%;
  }
  #title {
    font-size: 1.8em;
  }
}