.layout {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-rows: 50px 40px 200px;
  grid-template-columns: 150px auto;
  grid-template-areas: 
    "image searcher"
    ". menu"
    ". content";
}

.layout > div {
  border: 1px solid red;
}

.image {
  grid-area: image;
}

.searcher {
  grid-area: searcher;
}

.content {
  grid-area: content;
}

.container {
  display: flex;
  grid-area: menu;
}

.item {
  padding: 0.5rem 0.5rem;
}

.is-active {
  color: blue;
  border-bottom: 5px solid blue;
}