/*

HEADER

*/


header{
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: white;
    float:left;
    width: 100%;
}
#logo{
    float:left;
    width: 50%;
}

#logo * {
    vertical-align: middle;
    white-space: nowrap;
}

#logo span{
    font-size:32px;
    text-transform: uppercase;
}

nav{
    float:right;
    margin-top:0.7vw;
    width: 50%;
    text-align: right;
}
nav a{
    text-decoration: none;
    font-family: sans-serif;
    color: #000;
    text-transform: uppercase;
    padding: 1vw;
    font-size: large;
}

/*

Section: Banner

*/

#banner-img {
	width: 100%;
}

/*

Section: Info

*/

#video{
    display: block;
    margin: 0 auto;
    width: 50vw;
    height: 30vw;
}

/*

Section: Juego

*/

p i{
    display: block;
    color: #ff5000;
    font-weight: bolder;
}

#step1 {
	background-color: #d1c9b1;
    padding: 1em;
    text-align: center;
}

#juego div{
    text-align: center;
    height: 100%;
}

#juego div *{
    display: inline-block;
}

#step2 {
	background-color: #a29e81;
    color: white;
    padding: 1em;
    text-align: center;
}

#step3 {
	background-color: #88714e;
    color: white;
    padding: 1em;
    text-align: center;
}

/*

Section: Descarga

*/

#descarga div{
    text-align: center;
}

/*

Section: Créditos

*/

span i{
    color: #ff5000;
    font-weight: bolder;
}

#creditos div{
    text-align: center;
}

#creditos div *{
    display: inline-block;
    padding: 0.5vw;
}

/*
Section: Actualizaciones

*/

#form {
	width: 400px;
	margin: auto;
}

#form * {
    display: block;
    width: 100%;
    text-align: center;
}

#submit{
    background-color:#80859c;
    color: white;
}

/*

Footer

*/

footer {
	background-color: black;
	color: white;
	text-align: center;
	padding: 1em;
	margin-top: 1em;
}


/*

*/

.fijo{
    position: fixed;
    right: 0px;
    top: 50%;
    background-color: #80859c;
}

.relativo{
    background-color: green;
    color: white;
    position: relative;
    top: 40%;
    right: 0%;
    float: right;
}

.absoluto{
    background-color: blue;
    color: white;
    position: absolute;
    right: 200%;
    top: 0%;
}