body {
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    'header hero'
    'container hero';
  background-image: url(./images/bg-pattern-desktop.svg);
  height: auto;
}

.header {
  grid-area: header;
  padding-left: 20%;
}

.hero {
  grid-area: hero;
}

.container {
  grid-area: container;
  align-items: flex-start;
  padding: 132px 0 0 20%;
}

.container h1 {
  text-align: left;
  font-size: 6.3rem;
}
.container p {
  text-align: left;
  font-size: 1.6rem;
  line-height: 2.5rem;
  margin-top: 39px;
}

.container form {
  border-radius: 50px;
  margin-top: 47px;
}
.container form input {
  height: 59px;
  border-radius: 50px;
  font-size: 1.8rem;
}

.container form button {
  height: 61px;
  border-radius: 50px;
}

.container form .message {
  font-size: 1.6rem;
}

.attribution {
  font-size: 1.5rem;
}
