article {
  display: flex;
  height: 100vh;
  flex-direction: column;
  padding-top: 80px;
}

h1 {
  margin-bottom: 70px;
}

article > div {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

body {
  display: grid;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 35px;
  justify-content: space-between;
}

.form-items {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.form-buttons {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-buttons > p {
  font-size: 0.8rem;
}

@media screen and (min-width: 640px) {
  article {
    padding-top: 0;
    justify-content: center;
  }
  .brand {
    display: none;
  }
}
