.menu .filter-mav {
  display: none;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 46px;
  align-content: center;
  align-items: center;
  padding: 20px 3%;
  -webkit-box-shadow: 2px 0px 15px 0px #a3a3a370;
  box-shadow: 2px 0px 15px 0px #a3a3a370;
}

menu > picture {
  display: flex;
}

.menu {
  height: 46px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

menu > picture {
  display: flex;
  flex-direction: column;
}

.user-menu {
  display: flex;
  justify-content: flex-end;
  gap: 5%;
}

.user-menu > ul {
  display: none;
}

.icon_shopping-cart {
  background-image: url(./images/icons/icon_shopping-cart.svg);
}

.icon_shopping-cart-notification {
  background-image: url(./images/icons/icon_shopping-cart-notification.svg);
}

.user-menu > span {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 23px;
  height: 23px;
}

.user-menu .email-user span:first-child {
  overflow: hidden;
}

header .brand {
  font-size: 0.8rem;
  display: flex;
}

header .brand img {
  height: 17px;
}

.menu img {
  width: 23px;
  height: 17.54px;
}

.menu picture {
  display: flex;
}

.menu > nav {
  display: none;
}

.section p {
  display: none;
}

.show-section .section p {
  display: flex;
  justify-content: center;
  font-weight: 600;
}

.show-section .section h1 {
  display: none;
}

.shopping-cart-icon-off .user-menu {
  visibility: hidden;
}

@media screen and (min-width: 640px) {
  header {
    grid-template-columns: 1fr 2fr 1fr;
    height: 54px;
  }
  header .brand {
    justify-content: flex-start;
    font-size: 1.5rem;
  }

  header .brand img {
    height: 25.5px;
  }

  .menu picture {
    display: none;
  }

  .menu .filter-nav {
    display: flex;
  }

  .menu .filter-nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4%;
    padding: 0 20px;
  }

  .menu .filter-nav ul li a {
    color: var(--Verylightpink);
    font-size: 0.9rem;
  }

  .menu .filter-nav ul li.selected a {
    color: var(--Hospitalgreen);
  }

  .menu .filter-nav ul li.selected {
    border: var(--Hospitalgreen) 1px solid;
    border-radius: 10px;
    padding: 3px 10px;
    display: flex;
  }

  .user-menu > span {
    width: 30px;
    height: 30px;
  }

  header .section {
    order: -1;
  }

  .show-section .section p {
    display: none;
  }

  .show-section .section h1 {
    display: flex;
  }

  .shopping-cart-icon-off .user-menu {
    visibility: visible;
  }
}

@media screen and (min-width: 830px) {
  .user-menu ul {
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 600;
  }
}
