h1 {
  margin-bottom: 60px;
}

article {
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 25px 0 25px 0;
}

.header {
  text-align: right;
  margin-bottom: 80px;
}

body {
  display: grid;
  height: 100vh;
  justify-content: center;
  margin-bottom: 60px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 55px;
}

.form-items {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.form-buttons {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-buttons > p {
  font-size: 0.8rem;
}

.message {
  color: #d25050;
  font-size: 0.8rem;
  text-align: center;
  margin: 1rem;
  visibility: hidden;
}

.email-password-invalid label {
  color: #d25050;
}

.email-password-invalid input {
  outline: auto #d25050;
}

.email-password-invalid .message {
  visibility: visible;
}

.email-invalid label[for='email'] {
  color: #d25050;
}
.email-invalid input[name='email'] {
  outline: auto #d25050;
  /*Enter a valid email address*/
}

@media screen and (min-width: 640px) {
  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header {
    display: none;
  }
  .body {
    padding-top: 0px;
  }
  .body h1 {
    display: none;
  }
}
