.header {
  display: none;
}

article {
  display: flex;
  height: 100vh;
  flex-direction: column;
  padding-top: 80px;
  margin: 0 auto;
}

article h1 {
  margin-bottom: 70px;
}

article > div {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

article form {
  display: flex;
  flex-direction: column;
  gap: 35px;
  justify-content: space-between;
}

article .form-items {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

article .form-buttons {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

article .form-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

article .form-buttons > p {
  font-size: 0.8rem;
}

@media screen and (min-width: 640px) {
  .header {
    display: grid;
  }
  article {
    padding-top: 0;
    justify-content: center;
  }
  article .brand {
    display: none;
  }
}
