picture img {
  border-radius: 0 0 15px 15px;
  width: 100%;
}

button.primary-button {
  display: flex;
  padding: 10px;
  gap: 10px;
  align-items: center;
  width: 100%;
  justify-content: center;
}

div:last-child {
  padding: 20px;
}

h3 {
  font-weight: 100;
  font-size: 1rem;
}

aside div:last-child p {
  margin: 20px 0 50px 0;
}

aside {
  min-width: 375px;
}

body {
  background-color: beige;
}

aside {
  background-color: var(--White);
  height: 100vh;
  width: 100%;
}

aside > img {
  display: none;
}

@media screen and (min-width: 640px) {
  body {
    position: relative;
  }
  aside {
    position: absolute;
    right: 0;
    max-width: 384px;
  }

  aside > img {
    position: absolute;
    display: block;
    padding: 10px;
    background-color: var(--White);
    border-radius: 50%;
    width: 40px;
    left: 12px;
    top: 15px;
  }
}
