ul li img:first-child {
  width: 76px;
  border-radius: 15px;
}

aside {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  min-width: 375px;
  width: 100%;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
}

li {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 15px;
  padding: 10px 20px;
  align-items: center;
}

.remove-product {
  background-image: url(./images/icons/x.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  width: 12px;
  height: 12px;
}

ul li .product-name {
  justify-self: flex-start;
  word-wrap: break-word;
  font-size: 0.9rem;
}

ul li .precio {
  justify-self: flex-end;
  font-weight: 600;
}

button {
  width: 100%;
}

.total {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-weight: 600;
  height: 76px;
  background-color: var(--Textinputfield);
  border-radius: 15px;
  align-items: center;
}

action div:last-child {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

li div:first-of-type {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.message {
  display: none;
}

.removed div:first-of-type .message {
  display: flex;
}

.removed div:first-of-type .product-name {
  display: none;
}

.removed div:first-of-type .price {
  display: none;
}

.removed div:first-of-type {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.removed {
  opacity: 0.3;
  background-color: #d8d8d8;
}

aside > div:last-child {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

aside > div:first-child {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  display: none;
}

@media screen and (min-width: 640px) {
  .header span {
    font-weight: 600;
  }

  .header {
    padding: 0 20px;
    display: flex;
    gap: 20px;
  }

  aside {
    position: absolute;
    right: 0;
    max-width: 384px;
  }
}
